@import "tailwindcss";

@theme {
  --color-background : #0f1418;
  --color-foreground: #f0f2f5;

  --color-card: #141a1f;

  --color-primary: #20b2a6;
  --color-primary-foreground: #fff;

  --color-secondary: #1f2830;
  --color-secondary-foreground: #20b2a6;

  --color-muted: #252e37;
  --color-muted-foreground: #7a8491;

  --color-border: #242b32;

  --radius: .75rem;

  --color-highlight: #f5a623;
  --color-surface: #1a2329;
}